name: Build and push Web App to TdA

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      # 1️⃣ Stáhne repozitář
      - name: Check Out Repo
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      # 3️⃣ Nainstaluje závislosti a postaví build React appky
      - name: Install & Build React
        run: |
          npm ci
          npm run build   # nebo `npm run build --prefix predloha/TdA-react-express-mysql-template` pokud je app v podadresáři

      # 4️⃣ Upload na TdA
      - name: Upload to TdA
        uses: Student-Cyber-Games/upload-app@tda-26
        with:
          tdc_token: ${{ secrets.TDC_TOKEN }}
